* {
    box-sizing: border-box;
  }

  .column1{
    float: left;
    width: 25%;
  }

  img{
    width: 100px;
    height: 300px;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  .left {
    width: 30%;
  }
  
  .right {
    width: 65%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.item-info{
    padding-left: 5px;
}

.image-wrapper {
    box-sizing:border-box;
    float: left;
    margin-bottom:5px;
    width: 50%;
  }
  
  .image-wrapper:nth-child(even)
  {
    padding-left:5px;
  }
  
  .image-wrapper:nth-child(odd)
  {
    padding: right 10px;
  }
  
  .image-wrapper > img {
    width: 100%;
  }
  
  .image-wrapper > span {
    display: inline-block;
    width: 100%;
  }